<h1>Storytime!</h1>

<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, story_path(story) %> | <%= link_to "edit", edit_story_path(story) %> 
      <ul>
        <li><img src="<%= story.image %>">
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Story", new_story_path %>
