<h1>Storytime!</h1>

<ul>
  <% @stories.each do |story| %>
    <li><%= story.title %>
      <ul>
        <li><img src="<%= story.image %>"></li>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Story", new_story_path %>
